header{
    position:absolute;
}
#logo{
    position:fixed;
    width:127px;
    height: 16.7px;
    left: 5.73%;
    top: 6.5%;
}
#nav{
    position:fixed;
    width:19.5px;
    height: 16.6px;
    right:5.73%;
    top:6.5%;
    cursor: pointer;
}
.mainImg{
    max-width: 100%;
    width:1920px;
    height: auto;
}
#p1{
    position: relative;
    font-family: Optima;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    color: #212121;
}
#p2{
    position: relative;
    font-family: Optima;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    color: #f0f0ed;
}
.ct_p1{
    position: absolute;
    width: 330px;
    height: 140px;
    margin-top:25.6%;
    margin-left:13%;
}
#rm1 span{
    position: relative;
    font-family: Asap;
    font-size: 13px;
    color: #212121;
    text-decoration: underline;
}
@keyframes slidein{
    from{
        margin-left: 100%;
    }
    to{
        margin-left: 69.35%;
    }
}
@keyframes slideout{
    from{
        margin-left: 69.35%;
    }
    to{
        margin-left: 100%;
    }
}
#modal_div{
    position: fixed;
    width: 588px;
    max-width: 100%;
    height: 100%;
    background-color: #fff;
    margin-left:100%;
}
#modal_div.modalActionSI{
    animation-name: slidein;
    animation-duration: 0.4s;
    animation-fill-mode: both;
}
#modal_div.modalActionSO{
    animation-name: slideout;
    animation-duration: 0.4s;
    animation-fill-mode: both;
}
#closeImg{
    position: relative;
    cursor: pointer;
    width: 13px;
    height: 13px;
    left: 11.5%;
    top: 7%;
}
#sbImg{
    position: relative;
    width: 84px;
    height: 15px;
    top:7%;
    left: 68%;
    
}
.navList{
    position: absolute;
    width:70px;
    height: 653.1px;
    top:32%;
    left:11.5%;
}
#home{
    width: 48px;
    height: 21px;
    margin-bottom: 22px;
}
#about{
    width: 48px;
    height: 21px;
    margin-bottom: 23px;
}
#project{
    width: 57px;
    height: 21px;
    margin-bottom: 22px;
}
#inspire{
    width: 54px;
    height: 21px;
    margin-bottom: 23px;
}
#contact{
    width: 63px;
    height: 21px;
    margin-bottom: 276px;
}
#togInfo{
    width: 381px;
    height: 105px;
    margin-bottom: 50px;
}
#sns{
    width:121.1px;
    height: 22.1px;
}
footer{
    height: 341px;
    width: 100%;
    background-color:#f0f0ed;
    display: inline-flex;
}
#ft_left{
    width: 362px;
    height: 148px;
    margin: 103px 496px 90px 110px;
}
#address{
    width: 362px;
    height: 45px;
    margin-bottom: 88px;
}
#copyright{
    width: 325px;
    height: 15px;
}
#ft_center{
    width: 123px;
    height: 150.9px;
    margin: 103px 638px 86.9px 0;
}
#tel{
    width: 123px;
    height: 45px;
    margin-bottom: 84px;
}
#sns1{
    width:22.1px;
    height: 22.1px;
    margin-right: 28px;
}
#sns2{
    width:22.1px;
    height: 22.1px;
    margin-right: 28px;
}
#sns3{
    width:13.1px;
    height: 21.9px;
}
#ft_right{
    width: 81px;
    height: 15px;
    margin: 103px 110px 223px 0;
}
#spaceBrand_ft{
    width: 81px;
    height: 15px;
}
@media screen and (min-width:1920px) and (max-width:2560px){
    .mainImg{
        width: 2560px;
        height: auto;
    }
}